.index-nav{
	background-color: rgba(0, 0, 0, 0.70);
	padding: 10px;
}
.index-nav a{
	padding: 12px;
}
.index-nav a:hover{
	background-color: rgba(0,0,0,.01);
	transition:background-color,color 1s ease;
}