.nav-bar{
	padding: 10px;
	background-color: rgba(0,0,0,.5);
}
.nav-bar a{
	padding-left: 18px !important;
	padding-right: 18px;
}
.nav-bar a:hover{
	background-color: rgba(0,0,0,.01);
	color: #fff;
	transition:background-color,color 1s ease;
}